{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
   Add a Page
{% endblock %}

{% block body_block %}
    <h1 style="text-align:center;margin-top:5%;">Add a Page</h1>
    <div style="text-align:center;">
        {% if category %}

        <h4 style="text-align:center;"><a href="/rango/category/{{category.slug}}/">(or Go Last Category)</a></h4>  
        <form style="margin-top:2%;" id="page_form" method="post" action="/rango/category/{{category.slug}}/add_page/">      
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{hidden}}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{field.errors}}
                <h4>{{field.help_text}}
                {{field}}</h4>
                <br>
            {% endfor %}
            <inputtype="submit" name="submit" value="Add Page"  class="btn btn-primary btn-lg" />
        </form>
        {% else %}
            A category by this name does not exist
        {% endif %}
    </div>    
{% endblock %}