<!DOCTYPE html>

{% load staticfiles %} 

<html>
    <head>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <title>
            Rango
        </title>

        <style>
            .cat-image {
                max-width:100%;
            }
        </style>
    </head>
    <body>
    <div class="container"> 
        <h1>Rango says... </h1>
        <div class="col-lg-12 col-sm-12">
            <h3 style="color:#5bc0de;"> Hey there partner..!</h3>
            <strong style="color:#5bc0de"><h4>{{boldmessage}}</h4></strong><br>
        </div>

        <div class="col-lg-12 col-sm-12">

        </div>

        <div>
            <a href="/rango/about/" style="position:fixed;right:21%;top:5%;"><h4>Go to About></h4></a><br>
            <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" /> <!-- New line -->
        </div>
    </div>
    </body>
</html>