<!DOCTYPE html>

{% load staticfiles %} 

<html>
    <head>
        <title>
            Rango
        </title>
    </head>
    <body>
        <h1>Rango says... </h1>
        <div>
            Hey there partner..! <br/>
            <strong>{{boldmessage}}</strong><br/>
        </div>
        <div>
            <a href="/rango/about/">About</a><br/>
            <img src="{% static 'images/cat_with_glasses.jpeg' %}" alt="Picture of the hacking cat" style="max-width:20%;"/>
        </div>
    </body>
</html>