<!DOCTYPE html>

{% load staticfiles %} 

<html>
    <head>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <title>
            Rango
        </title>

        <style>
            .cat-image {
                display:block;
                margin:0 auto;
                max-width:100%;
            }
        </style>
    </head>
    <body>
    <div class="container"> 
        <div class="col-lg-12 col-sm-12">
            <h1>Rango says... </h1>
            <div class="col-lg-6 col-sm-6">
                <h3 style="color:#5bc0de;"> Hey there partner..!</h3>
            </div>
            <div class="col-lg-6 col-sm-6" style="text-align:right;">
                <a href="/rango/about/" ><h3>Go to About></h3></a>                
                <a href="/rango/add_category"><h4>Add a New Category</h4></a><br>                
            </div>
        </div>
        <div class="col-lg-12 col-sm-12" style="text-align:center;">
            <div class="col-lg-6 col-sm-6">
                {% if categories %}
                <ul>
                    <br>
                    <h4><strong>Most Liked Categories</strong></h4>
                    {% for category in categories %}
                        <li> <a href="/rango/category/{{category.slug}}">{{category.name}}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <strong>There are no categories present.</strong>
                {% endif %}
            </div>
            <div class="col-lg-6 col-sm-6">
                    {% if pages %}
                    <ul>
                        <br>
                        <h4><strong>Most Viewed Pages</strong></h4>
                        {% for page in pages %}
                            <li> <a href="{{page.url}}">{{page.title}}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <strong>There are no pages available.</strong>
                    {% endif %}
                </div>
        </div>
        <div class="col-lg-12 col-sm-12" style="margin-top:2%;width:95%;">
            <img class="cat-image" src="{% static 'images/rango.jpg' %}" alt="Picture of Rango"/>
        </div>
    </div>
    </body>
</html>